<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>  
      <% end %>
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <label for="user_name">Name</label>
          <%= f.text_field :name, autofocus: true, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60 %>
          <label for="inputname">Image</label>
          <%= f.attachment_field :profile_image %>
        </div>
        <div class="form-group">
          <label for="user_introduction">Introduction</label>
          <%= f.text_area :introduction, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit 'Update User', class: "form-control" %>
        </div>
      <% end %>  
    </div>
  </div>
</div>